#index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#index #banner {
  margin-top: 2%;
  background-color: black;
  text-align: center;
  width: 100%;
}

#index #typeWriterDesc {
  visibility: hidden;
  font-size: 15px;
  height: 0px;
}

#index #typeWriterDescExtra {
  visibility: hidden;
  font-size: 15px;
  height: 0px;
}
