:root {
  --primary-color: black;
  --secondary-color: white;
}
html {
  height: 100%;
}
body {
  font-family: "Lucida Console", monospace;
  color: var(--primary-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: none;
}

#flexBox {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flexBox #header {
  display: flex;
  min-height: 70px;
  background-color: var(--secondary-color);
  border-bottom: var(--primary-color) solid 3px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
}

#flexBox #header .container {
  flex-grow: 1;
}

#themeButton,
#navButton {
  margin-top: 10px;
  width: 50px;
}

#flexBox #main {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

#flexBox #main #navList {
  display: flex;
  width: 0px;
  min-width: 0px;
  background-color: var(--secondary-color);
  margin-right: 0px;
  flex-direction: column;
  visibility: hidden;
  z-index: 2;
}

#flexBox #main #navList .container {
  min-height: 20px;
  background-color: var(--primary-color);
  border-top: var(--secondary-color) solid 4px;
  border-right: var(--secondary-color) solid 3px;
  border-left: var(--secondary-color) solid 3px;
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#flexBox #main #navList .container:hover {
  background-color: grey;
}

.navLink {
  text-decoration: none;
  display: block;
  color: var(--secondary-color);
}

#flexBox #main #content {
  flex-grow: 1;
  color: var(--secondary-color);
}

.banner {
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 1%;
  padding-top: 2px;
  padding-bottom: 2px;
}

#flexBox #footer {
  min-height: 15px;
  background-color: var(--secondary-color);
  border-top: var(--primary-color) solid 3px;
  padding: 15px;
}
