#slideshow {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#slideshow iframe {
  width: 100%;
  height: 100%;
  margin-top: 2%;
  max-width: 850px;
  max-height: 440px;
}

#slideshow #desc {
  width: 60%;
  max-width: 850px;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 10px;
}
