html {
  height: 100%;
}
body {
  font-family: "Lucida Console", monospace;
  color: black;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: none;
}

#flexBox {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flexBox #header {
  display: flex;
  height: 70px;
  min-height: 70px;
  background-color: white;
  border-bottom: black solid 3px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

#header .container {
  flex-grow: 1;
}

#themeButton,
#navButton {
  margin-top: 10px;
  width: 50px;
}

#flexBox #main {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
}

#main #navList {
  display: flex;
  width: 0px;
  min-width: 0px;
  background-color: white;
  flex-direction: column;
  visibility: hidden;
}

#main #content {
  flex-grow: 1;
}

#flexBox #footer {
  height: 15px;
  min-height: 15px;
  background-color: white;
  border-top: black solid 3px;
  padding: 15px;
}
