html {
  height: 100%;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: none;
}

#flexBox {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flexBox #header {
  height: 100px;
  min-height: 100px;
  background-color: white;
}

#flexBox #main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

#main #navList {
  width: 120px;
  min-width: 60px;
  background-color: white;
}

#main #content {
  flex-grow: 1;
  text-align: center;
}

#flexBox #footer {
  height: 100px;
  min-height: 100px;
  background-color: white;
}
