        <!-- End of extra includes -->
    <title>__TITLE__ | BitRapture</title>
  </head>
  <body>
    <div id="flexBox">
      <div id="header">
        <div class="container">
          <a onclick="toggleNavList();" href="#">
            <img id="navButton" src="media/buttons/navListButtonOpen.png" alt="Navigation list button">
          </a>
        </div>
        <div class="container" style="flex-grow: 2; text-align: center;">
          <h2>BitRapture</h2>
        </div>
        <div class="container" style="text-align: right;">
          <a onclick="toggleTheme();" href="#">
            <img id="themeButton" src="media/buttons/themeButtonOff.png" alt="Colour theme button">
          </a>
        </div>
      </div>
      <!-- End of Header -->
      <div id="main">
        <div id="navList">
          <div class="container">
            <a href="index.html" class="navLink">
              Home
            </a>
          </div>
          <div class="container">
            <a href="webdemos.html" class="navLink">
              Web demos
            </a>
          </div>
          <div class="container">
            <a href="projects.html" class="navLink">
              Projects
            </a>
          </div>
          <div class="container">
            <a href="art.html" class="navLink">
              Art
            </a>
          </div>
        </div>
        <!-- End of Navigation List -->
        <div id="content">
