body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

canvas {
  visibility: hidden;
  height: 0;
}

#buttonTray {
  text-align: center;
  color: white;
}

.rounded {
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: auto;
  text-align: center;
}
